html, body {
    margin:0;
    padding:0;
    height: 100%;
}

/*body{ margin-left: 75px;
    margin-right: 75px;
}
*/
/*ul li {
    display: inline-block;

}*/
.img_wrap{
    /*border-top: 3px solid green; */
}
header{
    width: calc(100% - 172px);
    height: 26px;
    background-color: #fff;
    /*border: 1px solid black;*/
    /*margin-left: 75px;
    margin-right: 75px; 
    
    */
    /*padding-left: 75px;
    padding-right: 75px;
*/
    /*padding: 0 auto;*/
    margin: 0 auto;
     /*border-top: 3px solid green;*/
    
}

header * {
    float: left;

}
header p {
    float: right;
    /*padding-left: 170px;*/
    color:#2f93af;
    font-size:20px; 

}
span {
    border:1px solid #2f93af;
    border-radius: 100%;
    float:right;
}
header ul{
    /*padding-left:100px; */
}
header ul li{   /*background-color: blue;*/
    
    font-size: 25px;

    padding: 0 15px;
    

}

header ul li a{
    text-decoration: none;
    color: #33879e;
    /*margin-left: 10px;*/
}/*
header img {
    height: 100%;
    width: 100%;    
}*/

header ul li:hover{
    text-decoration: none;
    background-color:#22b793;
    border-radius: 12px;
    color:#fff;
}
.active{
    
    /*z-index: 1;*/
    background-color: #33879e;
    /*text-decoration: none;*/
    /*border : 1px solid #2b7386;*/
    border-radius: 12px;
}
.active a{
    color:#fff;
}
.phone{
    clear: both;
    height: 500px;
    width: 100%;
    background-image: url(img/perfume.jpg);
    /*background-position: center , left;*/
    /*border: 1px solid black;*/
/*  position: relative;
    z-index: 0;*/
    background-size:cover;
    color:#fff;
    margin-top: 0;
    
    }
.phone .hand{
    /*clear: both;*/
    height: 259px;
    width: 30%;
    /*position: relative;*/
    
    /*z-index: 1;*/

    /*background-color:white;*/
    background-image: url(img/9-Burst_business_website6-psd.png);
    margin-left:200px;
    margin-top:48px;
    display: inline-block;
    float: left;
    }
.phone .headings{
    margin-top: 0;
    padding:-top:0;
    position: relative;
    height: 100%;
    display: inline-block;
    /*width: 48%;*/
    /*float: left;*/

}
.icons{
    clear: both;
    width: 100%;
    height: 193px;
    background-color: #eff8fb;
    /*margin-top:0; */
    /*border: 1px solid black;*/
    /*border-style: wave;*/
    
     
}
.icons .wrap2{
    width: calc(100% - 172px);
    /*margin: 0 auto;*/
    text-align: center;
    padding-top: 23px;
}
.icons ul li {
    text-align: center;
    /*padding-top: 10px;*/
    /*padding-left: 10%;*/
    display: inline-block;
    font-size: 20px;

    /*padding: 0 auto;*/
    /*float: left;*/
}

.chevron a i{
    float: left;
    
    font-size: 50px;
    padding-bottom: 40px;
}
.icons a  {
    text-decoration: none;
    font-size: 25px;

    color: #33879e;
}
.icons a i {

    font-size: 70px;
}
/*.icons i {
    float: left;
}*/

.circles_area{
    /*margin: 0 auto;*/
    clear:both;
    width: 100%;
    height: 390px;
    /*text-align: */
}
.wrap3{
    width:calc(100% - 172px);
    /*display: inline-block;*/
    text-align: center;
    margin:0 auto;

}
.wrap3 ul li{
    display: inline-block;
    padding-right: 20px;
    width: 200px;
    
    /*float: left;*/
    /*margin: 0 auto;*/
    text-align: top;
}


.circles {
    padding-top: 0;
    vertical-align: baseline;
    border:5px solid #b1e0d5;
    /*border-radius: 100%;*/
    height: 300px;
    width: 200px;
    
}
.circle1{
    background-image: url(img/img1.png);
    background-position:top center;  
}
.circle2{
    background-image: url(img/img2.jpg);
    background-position:top center;
}
.circle3{
    background-image: url(img/38-Burst_business_website6-psd.png);
    /*background-position: right bottom;*/
}
.circle4{
    background-image: url(img/40-Burst_business_website6-psd.png);
    background-position: top  right ;
}

.circles_area a {
    clear: both;
    text-decoration: none;
    color:#addfd3;
    border: 2px solid #addfd3;
    margin:0 40%;
    font-size: 25px;
    border-radius: 25px;
    /*padding: 7px 12px 7px;*/
 }

 footer{
    height: 160px;
    clear: both;
    /*margin-top: 10px;*/
    width:100% ;
    background-color: #295b69;
    /*display: inline-block;*/
    
 }
 .foot_wrap{
    margin: 0 auto;
    width: calc(100% - 172px);
    color: #5d828c;
    
 }

 .foot_wrap a{
    text-decoration:none; 
    color:#fff;
}
]
.contacts {
    /*margin-top: 10px;*/
    /*float: left;*/
    display: inline-block;
    /*border-bottom: 1px solid #5d828c;*/
 }
.contacts li{
    margin-right: 70px;
    /*margin-left: 8%;*/
 }

.store{
    margin-top: 18px;
    /*display: inline-block;*/
    /*margin-left: 28%;*/
    float: right;

    /*background-color: white;*/
    /*width: 400px;*/
    /*height: 55px;*/


}
.store img{
    margin-right: 10px;
    /*float: left;*/
}
}
footer .privacy{
    clear: both;
    /*width: 100%;*/
    
}
.privacy li{
    /*margin-left: 8%;*/
    /*padding-right: 0;*/
}

/*.but-sur{
    background-color: black;
    border-radius: 15px;
    width: 138px;
    height: 38px;

}*/
button{
    background: linear-gradient(to top, #0085b4, #2cb2d0);
    border-color: #79d0e2; 
    font-size: 20px;
    width: 135px;
    height: 35px;
    font-family: sans;
    border-radius: 15px;
    color:#fff;

}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}


@media print{
    body{
    font-family: Times, 'Times New Roman', serif;
    }
    /*bw*/
    h3, p{color:#000;}
}